.homepage {
  text-align: center; }

.homepage-logo {
  animation: homepage-logo-spin infinite 20s linear;
  height: 80px; }

.homepage-header {
  background-color: #222;
  padding: 20px;
  color: white; }

.homepage-intro {
  font-size: large; }

@keyframes homepage-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
