ul.nav-links {
  text-align: center;
  padding: 0px;
  margin: 0px 0px 10px;
}

ul.nav-links li {
  padding: 0px 10px;
}

ul.nav-links li a,
ul.nav-links li a:visited {
  color: #333;
  display: block;
  padding: 10px 0px 7px;
  text-decoration: none;
  border-bottom: 3px solid #FFF;
}

ul.nav-links li a.active {
    font-weight: bold;
    border-bottom-color: #333;
}
