@import "components/Homepage/style.scss";
@import "components/Navigation/navigation.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  padding: 0px 5px;
}

li:first-child {
  padding-left: 0px;
}

li:last-child {
  padding-right: 0px;
}
